/* Start Variables */
:root {
  --main-color:  hsl(0deg 69.41% 50%);
  --transparent-color: rgb(15 116 143 / 70%);
  --background-color: #bebebe;
  --section-padding: 100px;
  --main-transition: .3s;
  --main-padding-top: 60px;
  --main-padding-bottom: 60px;
  --main-alt-header-font-size: 10px;

}
/* End Variables */
/* Start Global Rules */
a{
  text-decoration: none;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
}

ul {
  list-style: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* End Global Rules */
/* Start Components */
.main-title {
  text-transform: uppercase;
  margin: 0 auto 80px;
  border: 2px solid black;
  padding: 10px 20px;
  font-size: 30px;
  width: fit-content;
  position: relative;
  z-index: 1;
  transition: var(--main-transition);
  min-width: 150px;
  text-align: center;
}

.main-title::before,
.main-title::after {
  content: "";
  width: 12px;
  height: 12px;
  background-color: var(--main-color);
  position: absolute;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  transition: var(--main-transition);
}

.main-title::before {
  left: -30px;
}

.main-title::after {
  right: -30px;
}

.main-title:hover::before {
  z-index: -1;
  animation: left-move 0.5s linear forwards;
}

.main-title:hover::after {
  z-index: -1;
  animation: right-move 0.5s linear forwards;
}

.main-title:hover {
  color: white;
  border: 2px solid transparent;
  transition-delay: 0.5s;
}

.spikes {
  position: relative;
}

.spikes::after {
  content: "";
  position: absolute;
  right: 0;
  width: 100%;
  height: 30px;
  z-index: 1;
  background-image: linear-gradient(135deg, white 25%, transparent 25%),
    linear-gradient(225deg, white 25%, transparent 25%);
  background-size: 30px 30px;
}

.dots {
  background-image: url("../imgs/dots.png");
  height: 186px;
  width: 204px;
  background-repeat: no-repeat;
  position: absolute;
}

.dots-up {
  top: 200px;
  right: 0;
}

.dots-down {
  bottom: 200px;
  left: 0;
}

/* Start Whattapp */
.fixedButton {
  position: fixed;
  bottom: 0px;
  right: 10px;
  z-index: 1000;
  background-color: transparent;
}

.roundedFixedBtn {
  height: 100px;
  line-height: 80px;
  width: 60px;
  font-size: 2em;
  font-weight: bold;
  border-radius: 50%;
  color: white;
  text-align: center;
  cursor: pointer;
  background-color: transparent;
  outline: none;
}

/* end Whattapp */
/* Start To Top */
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  left: 30px;
  z-index: 99;
  border: none;
  outline: none;
  color: red;
  cursor: pointer;
  padding: 10px;
  font-size: 30px;
  border-radius: 4px;
}

/* End To Top */
/* End Components */
/* Start Alt Header */

.alt-header{
  background-color: black;
  padding: 10px 0px;
  height: 33px;
}
.alt-header .main-ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.alt-header .main-ul li{
  font-size: var(--main-alt-header-font-size);
  color: white;
  letter-spacing: 1px;
}
.alt-header .main-ul li ul{
  display: flex;
}
.alt-header .main-ul li ul li{
  margin-left:  var(--main-alt-header-font-size);
}
.alt-header .main-ul li ul li i{
  font-size:  var(--main-alt-header-font-size);
  color: white;
}
.alt-header .main-ul li ul li img{
  width:var(--main-alt-header-font-size);
}
.alt-header .main-ul li ul li:last-child a{
  color: white;
  font-weight: bold;
  border-left: 1px solid white;
  padding-left: 10px;
}
@media (max-width: 992px) {
  .alt-header .main-ul{
    display: block;
  }
  .alt-header .main-ul li{
    display: none
  }
  .alt-header .main-ul li:first-child{
    display: block;
    text-align: center;
  }
}

/* End Alt Header */
/* Start Header */
header {
  position: relative;
  background-color: var(--background-color);
  height: 60px;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 10px;
}
@media (max-width:767px) {
  header .container{
    flex-direction: row-reverse;
  }
}
header .logo {
  height: 40px;
}

header nav {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
@media (max-width: 768px) {
  header nav  {
      justify-content: flex-start;
  }
}
header nav .toggle-menu {
  color: white;
  font-size: 22px;
}

@media (min-width: 768px) {
  header nav .toggle-menu {
    display: none;
  }
}

header nav ul {
  display: flex;

}

@media (max-width: 767px) {
  header nav ul {
    display: none;
  }

  header nav .toggle-menu+ul.open {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: rgb(0 0 0 / 20%);
  }

  header nav ul li a {
    padding: 15px !important;
  }
}

header nav ul li a {
  padding: 10px;
  display: block;
  color: white;
  text-decoration: none;
  font-size: 16px;
  transition: 0.3s;
  position: relative;
  z-index: 2;
  font-weight: 500;
  border-radius: 5px;
}
header nav ul li a:hover {
  color: var(--main-color);
}

header nav .form {
  width: 40px;
  height: 30px;
  position: relative;
  margin-left: 30px;
  border-left: 1px solid white;
}

header nav .form i {
  color: white;
  position: absolute;
  font-size: 20px;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}

/* End Header */
/* Start Landing */
.landing {
  height: calc(100vh - 93px);
  background-image: url("../images/PixVerse_Image_Effect_prompt_Design\ a\ picture\ .jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
/* .landing .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 60%);
} */

.landing .text {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  padding: 50px;
  color: white;
  display: flex;
  justify-content: center;
  text-align: center;
}

.landing .text .content {
  max-width: 600px;
}

@media (max-width: 767px) {
  .landing .text {
    width: 100%;
  }

  .landing .text .content {
    max-width: 100%;
  }
}

.landing .text .content h2 {
  font-size: 32px;
  font-weight: normal;
  line-height: 1.5;
  margin-bottom: 20px;
}

.landing .text .content p {
  font-size: 14px;
  line-height: 2;
}

.landing .change-background {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #ddd;
}

@media (max-width: 767px) {
  .landing .change-background {
    display: none;
  }
}

/* End Landing */
/* Start Articles */
.articles {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
}

.articles .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.articles .box {
  box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
  background-color: white;
  border-radius: 6px;
  overflow: hidden;
  transition: transform var(--main-transition), box-shadow var(--main-transition);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.articles .box:hover {
  transform: translateY(-10px);
  box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
}

.articles .box .img {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding: 10px;
}
.articles .box .img img {
  width: 100%;
}

.articles .box .content {
  padding: 20px;
  height: 130px;
}
.for-printers .box .content {
  height: 130px;
}
.articles .box .content h3 {
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  color: #777;
}
.articles .box .content p {
  margin: 10px 0 0;
  line-height: 1.5;
  text-align: center;
  font-size: 14px;
}
.articles .box .content .total-price{
  display: flex;
  justify-content: center;
}
.articles .box .content .total-price .old-price{
  margin-right: 5px;
  position: relative;
  color: #777;
}
.articles .box .content .total-price .old-price::before{
  content: "";
  position: absolute;
  width: calc(100% + 5px);
  height: .5px;
  left: -2.5px;
  top: 11px;
  background-color: #777;;
}
.articles .box .content .total-price .new-price{
  font-weight: bold;
}
.articles .box .info {
  padding: 15px;
  border-top: 1px solid #e6e6e7;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.articles .box .info a {
  color: var(--main-color);
  font-weight: bold;
  font-size: 14px;
}

.articles .box .info i {
  color: var(--main-color);
}

.articles .box:hover .info i {
  animation: moving-arrow 0.6s linear infinite;
}

.articles .button {
  padding: 20px;
  background-color: var(--main-color);
  color: white;
  border-radius: 3px;
  border: none;
  margin: 40px auto 0px;
  display: block;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  width: fit-content;
}

.for-hp,
.for-printers {
  background-color: #e6e6e7;
}
.for-printers .img{
  padding: 10px;
}
/* End Articles */
/* Start special-order */
.special-order {
  padding: 40px 0px 40px;
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -2;
}
@media (max-width: 767px) {
  .special-order {
    text-align: center;
  }
}
.special-order .container {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 767px) {
  .special-order .container {
    gap: 10px;
  }
}
.special-order .form-container {
  background: linear-gradient(#212121, #212121) padding-box,
              linear-gradient(145deg, transparent 35%,#e81cff, #40c9ff) border-box;
  border: 2px solid transparent;
  padding: 32px 24px;
  font-size: 14px;
  font-family: inherit;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  border-radius: 16px;
  background-size: 200% 100%;
  animation: gradient 5s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.special-order .form-container button:active {
  scale: 0.95;
}

.special-order .form-container .form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.special-order .form-container .form-group {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.special-order .form-container .form-group label {
  display: block;
  margin-bottom: 5px;
  color: #717171;
  font-weight: 600;
  font-size: 12px;
}

.special-order .form-container .form-group input {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  color: #fff;
  font-family: inherit;
  background-color: transparent;
  border: 1px solid #414141;
}

.special-order .form-container .form-group input::placeholder {
  opacity: 0.5;
}

.special-order .form-container .form-group input:focus {
  outline: none;
  border-color: #e81cff;
}

.special-order .form-container .form-submit-btn {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  align-self: flex-start;
  font-family: inherit;
  color: #717171;
  font-weight: 600;
  width: 40%;
  background: #313131;
  border: 1px solid #414141;
  padding: 12px 16px;
  font-size: inherit;
  gap: 8px;
  margin-top: 8px;
  cursor: pointer;
  border-radius: 6px;
}

.special-order .form-container .form-submit-btn:hover {
  background-color: #fff;
  border-color: #fff;
}
.special-order .img{
    width: 250px;
    height: 375px;
    position: relative;
    margin-right: 200px;
    z-index: 1;
}
.special-order .container .img::before{
    position: absolute;
    content: "";
    width: 100px;
    height: 80%;
    border-bottom: 80px solid #ebeced;
    border-left: 80px solid #ebeced;
    top: -40px;
    right: -150px;
    z-index: -1;
}
.special-order .container .img::after{
    position: absolute;
    content: "";
    width: 80px;
    height: 120%;
    left: -20px;
    top: -10%;
    background-color: #ebeced;
    z-index: -1;
}
@media (max-width:767px) {
    .special-order .container .img
    {
        margin-bottom: 30px;
        margin-right: 0px;

    }
    .special-order .container .img{
        display: none;
    }
}
.special-order .container .img img{
    width: 250px;
    height: 375px;
}
/* End special-order */

/* Start Footer  */
footer
{
  background-color: #eee;
  padding: 20px;
}
footer .container{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(350px,1fr));
  gap: 20px;
}
footer .container .box{
  line-height: 1.7;
  text-align: center;

}
footer .container .box ul li a{
  color: #666;
  font-size: 14px;
}
/* End Footer  */
/* Start Animation */
@keyframes up-and-down {

  0%,
  100% {
    top: 0;
  }

  50% {
    top: -50px;
  }
}

@keyframes bouncing {

  0%,
  10%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40%,
  60% {
    transform: translateY(-15px);
  }
}

@keyframes left-move {
  50% {
    left: 0;
    width: 12px;
    height: 12px;
  }

  100% {
    left: 0;
    border-radius: 0;
    width: 51%;
    height: 100%;
  }
}

@keyframes right-move {
  50% {
    right: 0;
    width: 12px;
    height: 12px;
  }

  100% {
    right: 0;
    border-radius: 0;
    width: 51%;
    height: 100%;
  }
}

@keyframes moving-arrow {
  100% {
    transform: translateX(10px);
  }
}

@keyframes flashing {

  0%,
  40% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    width: 200%;
    height: 200%;
  }
}

@keyframes change-background {

  0%,
  100% {
    background-image: url("../imgs/discount-background1.jpg");
  }

  50% {
    background-image: url("../imgs/discount-background2.jpg");
  }
}

/* End Animation */